@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-thumb {
  background: oklch(68.74% 0.13188 264.34);
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(70.7% 0.165 254.624);
}

::-webkit-scrollbar-track {
  opacity: 0;
}
